<!DOCTYPE html>
<html>
<head>

<title>EDUNEX AI Quiz</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/quizz.css') }}">

</head>

<body>
 {% extends "base.html" %}

{% block title %}Study Planner | EDUNEX{% endblock %}

{% block content %}
<div class="quiz-container">

<h2>AI Quiz Generator</h2>

<div class="upload-box">
<input type="file" id="syllabusFile">
<button onclick="generateQuiz()">Generate Quiz</button>
</div>

<div id="quizBox" style="display:none">

<div class="quiz-header">

<div id="progressText">1 / 10</div>

<div class="timer">⏱ 30s</div>

</div>

<div class="progress-bar">
<div id="progressFill"></div>
</div>

<div class="question-card">

<h3 id="question"></h3>

<div id="options"></div>

</div>

<button class="next-btn" onclick="nextQuestion()">Next</button>

</div>

</div>

<script>

let selectedOption = null
let questionNumber = 1
let totalQuestions = 10

function generateQuiz(){

let file = document.getElementById("syllabusFile").files[0]

if(!file){
alert("Please upload a syllabus file first")
return
}

let formData = new FormData()
formData.append("syllabusFile", file)

fetch("/generate_ai_quiz",{
method:"POST",
body:formData
})

.then(res=>res.json())

.then(data=>{

if(data.error){
alert(data.error)
return
}

document.getElementById("quizBox").style.display="block"

questionNumber = 1

showQuestion(data.question)

})

.catch(err=>{
console.log(err)
alert("Error generating quiz")
})

}

function showQuestion(q){

selectedOption = null

document.getElementById("question").innerText = q.question

document.getElementById("progressText").innerText = questionNumber+" / "+totalQuestions

document.getElementById("progressFill").style.width = (questionNumber/totalQuestions*100)+"%"

let optDiv = document.getElementById("options")

optDiv.innerHTML = ""

for(let key in q.options){

let div = document.createElement("div")

div.className = "option"

div.innerText = key + "  " + q.options[key]

div.onclick = function(){

document.querySelectorAll(".option").forEach(o=>{
o.classList.remove("selected")
})

div.classList.add("selected")

selectedOption = key

}

optDiv.appendChild(div)

}

}

function nextQuestion(){

if(!selectedOption){
alert("Please select an option")
return
}

fetch("/next_question",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({
selected_answer:selectedOption
})

})

.then(res=>res.json())

.then(data=>{

if(data.finished){

alert("Quiz Completed! Your Score: "+data.score+" / "+data.total)

location.reload()

}

else{

questionNumber++

showQuestion(data.question)

}

})

.catch(err=>{
console.log(err)
alert("Error loading next question")
})

}

</script>
{% endblock  %}
</body>
</html>